*{
    padding: 0;
    margin: auto;
    font-family: 'Roboto' sans-serif;
}

body {
    font-family: 'Roboto' sans-serif;
}

.center {
    margin:auto;
    text-align:center
}

.top-banner {
    display: table;
    position: relative;
    width: 100%;
    padding: 200px 0;
    text-align: center;
    color: white;
    background: url("../img/intro-bg.jpg") no-repeat;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.how-it-works-title {
    font-family: 'Roboto' sans-serif;
    margin: auto;
    color: rgba(0, 0, 0, 0.87);    
}

.how-it-works-text{
    color: rgba(0, 0, 0, 0.87);    
}

.text-center {
    text-align: center;
}

.img-title {
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}

.img-subtitle{
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}

@media (max-width: 768px){
    .top-banner{
        background-position: 12% 20%;
        height: 120px;
    }
    .img-title {
        margin: 20px auto;
        font-size: 16px;
        font-weight: 600;
    }
    .img-subtitle {
        width: 312px;
        height: 88px;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 1.57;
    }
    .email-top-label{
        width: 312px;
        height: 30px;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        margin: 10px auto !important;
    }
    .title-text{
        margin: 30px auto;
        font-size: 36px;
    }
    .subtitle-text{
        font-size: 16px;
        max-width: 370px;
        margin-bottom: 37px;
    }
    .btn-success{
        width: 312px;
        height: 44px;
        margin-top: 5px;
        text-align: center;
    }
    .btn-success span{
        margin: auto;
    }
    .btn-stroke{
        width: 312px;
        height: 44px;
        margin-top: 20px;
        text-align: center;
    }
    .btn-stroke span{
        margin: auto;
    }
    .email-input{
        width: 312px;
        font-size: 15px;
        height: 44px;
    }
    .how-it-works-title {
        margin: 20px auto;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .how-it-works-text {
        width: 312px;
        height: 105px;
        font-size: 14px;
        line-height: 1.57;
    }
}

@media (min-width: 768px){
    .top-banner {
        height: 200px;
        background-position: 30% 20%; 
    }
    .img-title {
        margin: 20px auto;
        font-size: 20px;
        font-weight: 600;
    }
    .img-subtitle {
        width: 280px;
        height: 96px;
        margin-bottom: 25px;
        font-size: 15px;
        line-height: 1.6;
    }
    .email-top-label{
        font-size: 13px;
        font-weight: 500;
    }
    .title-text{
        margin: 50px auto;
        font-size: 48px;
    }
    .subtitle-text{
        font-family: 'Roboto' sans-serif;
        width: 660px;
        height: 56px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        margin-bottom:38px;
    }
    .email-input{
        border-radius: 2px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
        width: 400px;
        height: 50px;
    }
    .btn-success{
        margin: 10px auto;
        width: 400px;
        height: 60px;
        border-radius: 2px;
        background-color: #00c853;
    }
    .btn-stroke {
        margin-top: 30px;
        width: 400px;
        height: 60px;
    }
    .divider {
        margin-left:50px; 
        margin-right: 50px
    }
    .how-it-works-title {
        margin: 40px auto 20px auto;
        font-size: 24px;        
        font-weight: bold;
        text-align: center;
        color: rgba(0, 0, 0, 0.87);
    }
    .how-it-works-text {
        width: 600px;
        height: 65px;
        font-size: 15px;
        line-height: 1.6;
    }
    .divider {
        margin: 30px;
    }
}

.layer {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title-text {
    font-family: 'OpenSans' sans-serif;
    /* font-size: 36px; */
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.subtitle-text {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.email-input{
    text-align: center;
    color: rgba(0, 0, 0, 0.38);
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
    margin: auto !important;
}

.top-form {
    text-align: center;
}

.btn {
    cursor: pointer;
}

.btn-success {
    display: flex;
    border-radius: 2px;
    background-color: #00c853;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.71;
    transition: .1s all linear;
}

.btn-success:hover {
    background-color: #00aa4a;
}

.btn-stroke {
    display: flex;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.71;
    transition: .1s all linear;
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 2px #ffffff;
}