@import 'variables.scss';
@import 'mixins.scss';
body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  position: relative;

  width: 100%;
  height: 100%;

  color: black;
  background-color: white;
}

html {
  width: 100%;
  height: 100%;
}

h4 {
  font-family: 'Roboto';
  font-size: 23px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
}

h1,
h2,
h3,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;

  margin: 0 0 35px;

  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;

  margin: 0 0 25px;
  @media(min-width: 768px) {
    font-size: 18px;
    line-height: 1.6;

    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;

    color: darken($primary, 20%);
  }
}

.item-desc {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.footer-title {
  font-family: 'Roboto';
  font-size: 29px;
  font-weight: 500;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.text-center {
  text-align: center;
  margin: auto;
}

.footer-subtitle {
  font-family: 'Roboto';
  font-size: 17px;
  margin-top: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  margin-bottom: 0;

  text-transform: uppercase;

  border-bottom: 1px solid fade-out(white, .7);
  background-color: black;
  .navbar-toggler {
    font-size: 14px;

    padding: 11px;

    color: white;
    border: 1px solid white;
  }
  .navbar-brand {
    font-weight: 700;
  }
  a {
    color: white;
  }
  .navbar-nav {
    .nav-item {
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }
  @media(min-width:992px) {
    padding-top: 20px;
    padding-bottom: 20px;

    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;

    border-bottom: none;
    background: transparent;
    &.navbar-shrink {
      padding-top: 10px;
      padding-bottom: 10px;

      border-bottom: 1px solid fade-out(white, .7);
      background: black;
    }
    .nav-link.active {
      outline: none;
      background-color: rgba(white, .3);
      &:hover {
        color: white;
      }
    }
  }
}

div .intro-body .mask {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.masthead {
  display: table;

  width: 100%;
  height: auto;
  padding: 200px 0;

  text-align: center;

  color: white;
  background: url('../img/intro-bg.jpg') no-repeat center;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .intro-body {
    display: table-cell;

    vertical-align: middle;
    .brand-heading {
      font-size: 50px;
    }
    .intro-text {
      font-family: 'Roboto';
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
    }
  }
  @media(min-width:768px) {
    height: 100%;
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 100px;
      }
      .intro-text {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}

.mail-label {
  margin: auto;
  width: 100%;
  font-family: 'Roboto';
}

.email-input {
  font-family: 'Roboto';
  text-align: center;
  width: 70%;
  font-size: 20px;
  height: 60px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  margin: auto auto 35px;
}

.email-input-bottom {
  font-family: 'Roboto';
  text-align: center;
  width: 70%;
  font-size: 20px;
  height: 60px;
  border-radius: 2px;
  background-color: #ffffff;
  margin: 15px auto 35px;
  border: solid 2px #00c853;
}

.btn-circle {
  font-size: 26px;

  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 38px;

  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;

  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
  &:focus,
  &:hover {
    color: white;
    outline: none;
    background: fade-out(white, .9);
  }
}

.content-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.content-text {
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.download-section {
  color: white;
  background: url('../img/downloads-bg.jpg') no-repeat center center scroll;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#map {
  width: 100%;
  height: 300px;
}
@media(min-width:992px) {
  .content-section {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  #map {
    height: 350px;
  }
}

.btn {
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.btn-hero {
  height: 65px;
  border-radius: 2px;
  background-color: #00c853;
  width: 70%;
  margin: auto;
  min-height: 50px;
  font-size: 20px;
}

.btn-hero-stroke {
  width: 400px;
  height: 60px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  border: solid 2px #ffffff;
}

.btn-default {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent; }
  .btn-default:focus, .btn-default:hover {
    color: black;
    border: 1px solid #BAB9B9;
    outline: none;
    background-color: #BAB9B9; }

ul.banner-social-buttons {
  margin-top: 0;
  @media(max-width: 1199px) {
    margin-top: 15px;
  }
  @media(max-width:767px) {
    li {
      display: block;

      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

footer {
  padding: 50px 0;
  p {
    font-size: 14px;

    margin: 0;
  }
}

::-moz-selection {
  background: #fcfcfc;
  background: fade-out(white, .8);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: fade-out(white, .8);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: fade-out(white, .8);
}
